.container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 200px auto;
  gap: 10px;

}

.item{
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}