p{
    width: 100px;
    /* background-color: red; */
    height: 50px;
    padding: 20px;
    border: 1px solid red;

}
.extrinsic{
    /* border: 1px dashed green; */
    font-size: 5rem;
    font-weight:700;
    line-height:1;
    border: 5px solid; /* it default color black */
    padding: 2rem;
    width: 320px;
}
.intrinsic{
    font-size:5rem;
    font-weight:700;
    line-height:1;
    border: 5px solid;
    padding: 2rem;
    width: min-content;
    margin-top: 20px;
}
.box-demo{
    width: 400px;
    height: 400px;
}
.box-demo img{
    width: inherit
}