.container{
  display: flex;
  justify-content: center ;
  flex-direction: row;
  gap: 16px;
}
.box{
  width: 350px;
  height: 100vh;
  border: 1px solid red;
  padding: 1.5rem;
  /* box-sizing: content-box; */
}

@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    margin: 0 auto ;
  }
  .box{
    width: 80%;
  }
  
}